/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
  max-width: 1440px;
  margin: 0 auto;
}
/* share styles */
.display-flex{
  display: flex;
}

/* nav styles */
.nav-container{
  justify-content: space-between;
}
.links{
  list-style: none;
}
.links > li{
  font-size: 1rem;
  font-weight: 600;
  margin-right: 34px;
}

#search{
  max-width: 24px;
  height: 24px;
}
#cart{
  max-width: 34px;
  height: 34px;
}
/* banner styles starts */
.banner{
  gap: 133px;
  /* justify-content: space-between; */
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
}
.banner-content{
  max-width: 582px;
}
.banner-title{
  font-size: 3.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.banner-des{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.banner-img > img{
  width: 100%;
  max-width: 440px;
  /* height: 414px; */
  margin-top: 30px;
}
.banner-img{
  background-image: url(./images/Circle\ design.svg);
  width: 100%;
  max-width: 475px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.prebook-btn {
    background: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px; /* makes it pill shape */
    padding: 10px 24px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.prebook-btn span {
    font-size: 16px;
    font-weight: bold;
}
.prebook-btn:hover {
    transform: translateY(-2px);
}
